<a href="https://colab.research.google.com/github/anna-olszewska/anna/blob/main/Exam_1_Practice_BTE320.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 10
if x > 5:
  print("hello")
elif x < 15:
  print("world")
else:
  print("python")

hello

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
x = 10
if x < 5 or x % 2 == 0:
  print("A")
elif x < 15:
  print("B")
else:
  print("C")

A

In [ ]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [ ]:
x = 5
while x > 0:
  print(x)
  x -= 1

5
4
3
2
1

In [ ]:
for i in range(1, 6):
  if i % 2 == 0:
    break
  print(i)

1

In [ ]:
#write a program that takes as an input from the keyboard a string that corresponds to a date (eg. 02/20/2024)...mm/dd/yyyy
user_input = input(f"Enter a date in the format mm/dd/yyyy: ")
date = user_input
m = date[0:2]
print(f"the month is {m}")
d = date[3:5]
print(f"the day is {d}")
y = date[6:10]
print(f"the year is {y}")

Enter a date in the format mm/dd/yyyy: 07/30/2002
the month is 07
the day is 30
the year is 2002

In [ ]:
x = 2
if x > 5:
  print("Hello")
else:
  if x % 3 != 0:
    print("World")
  else:
      print("Hello World")

World

In [ ]:
for i in range(3):
  print(i)
print("Done")

0
1
2
Done

In [ ]:
x = 5
while x > 0:
  print(x)
  x -= 2

5
3
1

In [ ]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

In [ ]:
grades['Alice'] = 95
grades

{'Alice': 95, 'Bob': 88, 'Tracy': 93, 'Erik': 90}

In [ ]:
for value in grades.values():
  print(value)

95
88
93
90

Memorize the four methods needed for strings
d.keys()
d.values()
L.append(item)
L.extend(iterate)
L.pop()...index = -1
L.sort()reserse = true...decsending order

In [ ]:
for key in grades.keys():
  print(key)

for value in grades.values():
  print(value)
print()
for key, value in grades.items():
  print(key, value)

Alice
Bob
Tracy
Erik
95
88
93
90

Alice 95
Bob 88
Tracy 93
Erik 90