<a href="https://colab.research.google.com/github/anna-olszewska/anna/blob/main/ListsBTE320.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [1, 'two', 3.0, print, [5, 7, 9]]

In [ ]:
len(L)

5

In [ ]:
L[-1]

[5, 7, 9]

In [ ]:
L[3:]

[<function print>, [5, 7, 9]]

In [ ]:
3 * ['three', 9.99, 0]

['three', 9.99, 0, 'three', 9.99, 0, 'three', 9.99, 0]

In [ ]:
L_outer = [[1, 2, 3], [4, 5, 6]]
print(L_outer)
l = L_outer[1]
print(l)
l[0] = 7
print(l)
L_outer[1] = l
print(L_outer)

[[1, 2, 3], [4, 5, 6]]
[4, 5, 6]
[7, 5, 6]
[[1, 2, 3], [7, 5, 6]]

In [ ]:
L = [1, 'two', 3.0, print, [5, 7, 9]]
len(L)

5

In [ ]:
L + ['three']

[1, 'two', 3.0, <function print>, [5, 7, 9], 'three']

In [ ]:
L.extend(3)
L

TypeError: 'int' object is not iterable

In [ ]:
L = []
n = int(input('enter a value: '))
while n != 0:
  L.append(n)
  n = int(input('enter a value: '))
print(L)

enter a value: 4
enter a value: 8
enter a value: 9
enter a value: 7

In [ ]:
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]

for item in L1:
  if item in L2:
    L1.remove(item)
L1

[2, 3, 4]