<a href="https://colab.research.google.com/github/anna-olszewska/anna/blob/main/Recursions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Base Case: enriched version of the problem
Inductive Case: split problem into smaller, simpler version of itself

In [ ]:
def countdown(n):
  for i in range(n, -1, -1):
    print(i)
countdown(5)

5
4
3
2
1
0

In [ ]:
def recursive_countdown(n):
  if n == 0: # base case
    print(0)
  else:
    print(n)
    recursive_countdown(n-1)

recursive_countdown(5)

5
4
3
2
1
0

In [ ]:
def summation(n):
  s = 0
  while n >= 0:
    s = s + n
    n = n - 1
  return s

summation(4)

10

In [ ]:
def recursive_summation(n):
  if n == 0:
    return 0
  else:
    return n + recursive_summation(n-1)

recursive_summation(4)

10

In [ ]:
def recursive_factorial(n):
  if n == 1:
    return n
  else:
    return n * recursive_factorial(n-1)

recursive_factorial(4)

24

In [ ]:
def fact(n):
  prod = 1
  while n >= 1:
    prod = prod * n
    n = n -1

inductive case: n = f(n-1) + f(n-2)
base case(s): n = 0...f(0) = 1 and n = 1...f(1)= 1

In [ ]:
def fibR(n):
  if n == 0 or n ==1:
    return 1
  else:
    return fibR(n-1) + fibR(n-2)

for i in range(8):
  print(fibR(i), end= " ")

1 1 2 3 5 8 13 21

In [ ]:
def fibR(n):
  if n == 0 or n == 1:
    return 1
  else:
    return fibR(n-1) + fibR(n-2)

for i in range(8):
  print(fibR(i), end= " ")

1 1 2 3 5 8 13 21

In [ ]:
def reverse(n):
  if len(n) == 1:
    return n
  else:
    return reverse(n[1:]) + n[0]

reverse("Hello")

'olleH'

In [ ]:
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + reverse(s[:-1])

reverse('anything')

'gnihtyna'

In [1]:
a = 'abc'
b = 2

print(a/b) #type error

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [2]:
[1,2,3] + (4,5,6) #type error must be list with list...t with t,etc

TypeError: can only concatenate list (not "tuple") to list

In [3]:
a = 'abc'
b = 2

print(a/b)


print('End')

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [6]:
try:
  a = float(input('Enter a numerator: '))
  b = float(input('Enter a denominator: '))
  print(a/b)
  print('Division complete')
except:
  print('Error occured!')

Enter a numerator: 10
Enter a denominator: 2
5.0
Division complete

In [7]:
try:
  a = float(input('Enter a numerator: '))
  b = float(input('Enter a denominator: '))
  print(a/b)
  print('Division complete')
except ZeroDivisionError:
  print('Denominator is zero')

Enter a numerator: 5
Enter a denominator: 0
Denominator is zero

In [10]:
try:
  a = float(input('Enter a numerator: '))
  b = float(input('Enter a denominator: '))
  print(a/b)
  print('Division complete')
except ZeroDivisionError:
  print('Denominator is zero')
except ValueError:
  print('incompatible imput type; cannot be cast to numeric')

print('program end')

Enter a numerator: 5
Enter a denominator: 0
Denominator is zero
program end

In [ ]:
try:
  a = float(input('Enter a numerator: '))
  b = float(input('Enter a denominator: '))
  print(a/b)
  print('Division complete')
except ZeroDivisionError:
  print('Denominator is zero')
except ValueError:
  print('incompatible imput type; cannot be cast to numeric')
except:
  print('Unknown error')

print('program end')

In [17]:
l = [1,3,5,7,9]

try:
  idx = int(input('Enter index: '))
  print(l[idx])
except TypeError:
  print('Index must be an int')
except IndexError:
  print('Index out of bounds')
except:
  print('Unkown error')

Enter index: 45
Index out of bounds

In [23]:
def calc_average(alist):
  try:
    return sum(alist)/len(alist)
  except ZeroDivisionError:
    print('There is no list')
    return float('nan')
  except TypeError:
    print('List needs to be numerical')
    return None

l = [1,'2',3]
calc_average(l)

List needs to be numerical